{% extends "base.html" %}


{% block content %}
  <p>Hello!</p>
  {% if reg_success %}
    {% for val in test_list %}
      {% if forloop.first %}
        <div style="color:red;">
      {% elif forloop.last %}
        <div style="text-decoration: underline;">
      {% else %}
        <div>
      {% endif %}
        {% if val.aaa %}
          {{ val.aaa }} : {{ val.aaa |  length }}
        {% else %}
          <p>empty</p>
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // document.getElementById("id_test").innerText = "Hello from JS";
    console.log("hello~!");
  </script>
{% endblock %}

{% block title %}
  I'm index page!
{% endblock %}